@font-face {
   font-family: "Segoe UI";
   src: url("../fonts/Segoe UI Italic.eot");
   src: local("☺"), url("../fonts/Segoe UI Italic.woff") format("woff"),
      url("../fonts/Segoe UI Italic.ttf") format("truetype"), url("../fonts/Segoe UI Italic.svg") format("svg");
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: "Segoe UI";
   src: url("../fonts/Segoe UI lite Italic.eot");
   src: local("☺"), url("../fonts/Segoe UI lite Italic.woff") format("woff"),
      url("../fonts/Segoe UI lite Italic.ttf") format("truetype"),
      url("../fonts/Segoe UI lite Italic.svg") format("svg");
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: "Forum";
   src: url("../fonts/Forum-Regular.eot");
   src: local("☺"), url("../fonts/Forum-Regular.woff") format("woff"),
      url("../fonts/Forum-Regular.ttf") format("truetype"), url("../fonts/Forum-Regular.svg") format("svg");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "Futura PT";
   src: url("../fonts/futura-pt-light.eot");
   src: local("☺"), url("../fonts/futura-pt-light.woff") format("woff"),
      url("../fonts/futura-pt-light.ttf") format("truetype"), url("../fonts/futura-pt-light.svg") format("svg");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "Futura PT";
   src: url("../fonts/FuturaPT.eot");
   src: local("☺"), url("../fonts/FuturaPT.woff") format("woff"), url("../fonts/FuturaPT.ttf") format("truetype"),
      url("../fonts/FuturaPT.svg") format("svg");
   font-weight: 400;
   font-style: normal;
}
