@use "sass:math";
@import "_fonts";
@import "_normalize";

$minWidth: 320;
$contentWidth: 1440;
$media1: 1170;
$media2: 992.98;
$media3: 767.98;
$media4: 479.98;

@mixin adaptiv-font($pcSize, $mobSize) {
   $coeff: math.div($pcSize - $mobSize, $contentWidth - $minWidth);
   $startValue: $mobSize - $coeff * $minWidth;

   font-size: $pcSize + px;

   @media (max-width: $contentWidth + px) {
      font-size: calc(#{$coeff} * 100vw + #{$startValue + px});
   }

   @media (max-width: $minWidth + px) {
      font-size: $mobSize + px;
   }
}

.wrapper {
   width: 100%;
   min-height: 100vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: $contentWidth + px;
   margin: 0 auto;
   width: 100%;
   height: 100%;
}

.container_padding {
   padding: 0 11%;
   @media (max-width: $media3 + px) {
      padding: 0 5%;
   }
}

@import "_header";

main {
   flex: 1 1 auto;
}

.first-screen {
   position: relative;

   &__body {
      width: 100%;
      height: 100vmin;
      padding-bottom: 60px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;

      @media (max-width: $media3 + px) {
         height: 120vmin;
      }

      @media (max-width: $media4 + px) {
         height: 150vmin;
      }

      @media (max-width: 550px) {
         padding-bottom: 40px;
      }

      @media (max-width: $media4 + px) {
         padding-bottom: 20px;
      }

      &::before {
         content: "";
         display: block;
         position: absolute;
         height: 100vmin;
         width: 100vw;
         top: 0;
         left: 64%;
         z-index: -10;
         background-color: #272727;

         @media (max-width: $media3 + px) {
            top: 60%;
            left: 50%;
            height: 40%;
            transform: translateX(-50%);
         }
      }
   }

   .collection {
      width: 42%;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      overflow: hidden;

      @media (max-width: $media3 + px) {
         top: 30%;
         width: auto;
         max-width: 475px;
      }

      &__title {
         font-family: "Forum";
         font-weight: 400;
         @include adaptiv-font(64, 36);
         line-height: 1.1;
         letter-spacing: 0.03em;
         color: #272727;

         margin-bottom: 0.8em;

         @media (max-width: $media4 + px) {
            margin-bottom: 15px;
         }
      }

      &__subtitle {
         font-family: "Segoe UI";
         font-style: italic;
         font-weight: 300;
         @include adaptiv-font(18, 14);
         line-height: 1.3;
         color: #272727;

         align-self: flex-end;
         position: relative;

         &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 70%;
            height: 1px;
            top: 60%;
            right: 120%;
            background-color: #272727;
         }
      }

      @keyframes HoverGradient {
         0% {
            background-position: 0% 50%;
         }

         100% {
            background-position: 100% 50%;
         }
      }

      &:hover * {
         background: linear-gradient(90deg, #272727, #efc58b 10%, #e2b67a 20%, #272727 50%);
         background-size: 200% 200%;
         background-clip: text;
         -webkit-background-clip: text;
         color: transparent;
         animation: HoverGradient 2s linear 1 normal forwards;
      }
   }

   &__offer-img {
      position: absolute;
      top: 50%;
      left: 64%;
      transform: translate(-47%, -50%);
      max-width: 322px;
      max-height: 170px;
      object-fit: cover;

      @media (max-width: $media3 + px) {
         top: 60%;
         left: 50%;
      }
   }

   &__column {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
   }

   &__offer {
      text-align: right;
      @media (max-width: 850px) {
         width: 170px;
      }
      @media (max-width: $media3 + px) {
         width: auto;
      }
   }
}

.language {
   font-family: "Futura PT";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.3;
   letter-spacing: 0.05em;
   text-transform: uppercase;

   a:not(:last-child) {
      margin-right: 7px;
   }

   a {
      color: #c4c4c4;
      &:hover {
         text-decoration: underline;
      }
   }
   a.active {
      color: #272727;
      @media (max-width: $media3 + px) {
         color: #fff;
      }
   }
}

.offer {
   & > *:not(:last-child) {
      margin-bottom: 0.5em;
   }

   &:hover * {
      text-decoration: underline;
   }

   &__name {
      font-family: "Futura PT";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.3;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #272727;

      @media (max-width: $media4 + px) {
         font-size: 14px;
      }
   }

   &_white &__name {
      color: #ffffff;
   }

   &__description {
      font-family: "Futura PT";
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 1.3;
      color: #757575;

      @media (max-width: $media4 + px) {
         font-size: 16px;
      }
   }

   &_white &__description {
      color: #c2c2c2;
   }

   &__price {
      font-family: "Segoe UI";
      font-style: italic;
      font-weight: 300;
      font-size: 18px;
      line-height: 1.3;
      letter-spacing: 0.03em;
      color: #e2b67a;

      @media (max-width: $media4 + px) {
         font-size: 16px;
      }
   }

   &_white &__price {
      color: #efc58b;
   }
}

.sections {
}

.section-list {
   display: flex;
   flex-wrap: wrap;
   height: auto;

   padding: 1.3% 0 0.7%;
   margin: 0 -0.7%;

   &__row {
      flex: 0 0 100%;
      display: flex;
      margin-bottom: 0.7%;
   }

   &__item {
      margin: 0 0.7%;
      flex: 0 1 50%;
   }
}

.section-item {
   position: relative;
   max-height: 587px;
   min-height: 200px;

   img {
      height: 100%;
      width: 100%;
      object-fit: cover;
   }

   &__content {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(39, 39, 39, 0.4);
   }

   &__text {
      position: relative;

      font-family: "Forum";
      font-style: normal;
      font-weight: 400;
      @include adaptiv-font(64, 24);
      line-height: 1.1;
      letter-spacing: 0.03em;
      color: #ffffff;

      &::before {
         position: absolute;
         bottom: 100%;
         left: 50%;
         transform: translateX(-50%);
         width: 100%;
         text-align: center;

         content: "Перейти в раздел";
         font-family: "Futura PT";
         font-style: normal;
         font-weight: 300;
         @include adaptiv-font(24, 14);
         line-height: 1.3;
         color: #ffffff;
      }

      &::after {
         position: absolute;
         bottom: -23px;
         left: 50%;
         transform: translateX(-50%);
         width: 40%;
         height: 2px;

         background-color: #ffffff;
         content: "";
      }
   }

   transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

   &:hover {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
      transform: scale(1.006, 1.006);
   }
}
